@import "tailwindcss";

body{
  background: #0B0B0B;
  color: white;
  font-family: "Poppins";
  overflow-x: hidden;
  
}


::selection{
  background: #270f70;
  color: white;
}


.homepage{
  background: linear-gradient(to bottom right, #000000, hsl(0, 0%, 9%),  #020202 );
}

.your-career-starts-here{
  border:2px solid rgb(32, 32, 32);
  border-image:linear-gradient(90deg, #0E0D0D, #535353, #0E0D0D) 1;
}

.line{
  background: linear-gradient(90deg, #1a1a1a, #666, #1a1a1a);
}
.line2{
  background: linear-gradient(90deg, #1a1a1a, #666, #1a1a1a);
}

.transition-box{
  background: radial-gradient( #1c1b1b3a, #0d0d0d7a, #00000000);
  /* filter: blur(10px); */
}

.blurstrip{
  background: radial-gradient(
    ellipse at top,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0) 60%
  );
}